@use 'modules/variables'
@use 'sass:color'
@use './mixins'
@use './carousel'
@use './caderousel'
@use './temoin'

// Corps global
body 
  background: linear-gradient(to bottom right, variables.$bg-gradient-start, variables.$bg-gradient-end)
  min-height: 100vh
  font-family: 'Inter', 'Arial', sans-serif
  margin: 0
  padding: 0
  color: variables.$dark-color


h2 
  color: variables.$primary-color
  font-size: 2rem
  text-align: center
  margin: 2rem 0
.navbar 
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 100
  display: flex
  justify-content: space-between
  align-items: center
  padding: 20px
  background-color: var(--primary-color)
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)


.navbar__brand 
  font-size: 24px
  font-weight: bold
  color: #fff
  position: relative
  z-index: 102


.navbar__menu 
  display: flex
  list-style: none
  margin: 0
  padding: 0


.navbar__menu li 
  position: relative
  margin-left: 20px


/* Ajout de l'effet de soulignement */
.navbar__menu li::before 
  content: ""
  position: absolute
  left: 50%
  width: 60px
  height: 2px
  background: #E91E63
  bottom: -10px
  margin-left: -30px
  opacity: 0
  transition: opacity 0.3s ease-in-out


.navbar__menu li:hover::before 
  opacity: 1


.navbar__menu a 
  color: #fff
  text-decoration: none
  font-size: 16px
  transition: all 0.3s ease-in-out
  display: block


.navbar__toggle 
  display: none
  background: none
  border: none
  padding: 0
  cursor: pointer
  position: relative
  z-index: 102


.hamburger-icon 
  display: flex
  flex-direction: column
  justify-content: space-around
  width: 24px
  height: 24px


.hamburger-icon span 
  display: block
  width: 100%
  height: 2px
  background-color: #fff
  margin: 2px 0


@media (max-width: 768px) 
  .navbar__menu 
    display: none
    position: fixed
    top: 60px
    left: 0
    width: 100%
    background-color: var(--primary-color)
    padding: 20px
    z-index: 101
    flex-direction: column !important
    align-items: center
  

  .navbar__menu li 
    margin: 0
    width: 100%
    text-align: center
    padding: 15px 0
  

  /* Ajuster la position du soulignement en mobile */
  .navbar__menu li::before 
    bottom: 5px
    width: 40px /* Plus petit en mobile */
    margin-left: -20px
  

  .navbar__toggle 
    display: block
  

  .navbar__menu.responsive 
    display: flex !important
    animation: slideDown 0.3s ease-in-out
  

  @keyframes slideDown 
    from 
      opacity: 0
      transform: translateY(-10px)
    
    to 
      opacity: 1
      transform: translateY(0)
    
  


.logo 
  width: 100px
  height: auto
  filter: invert(100%)


button, .btn 
  background-color: variables.$bouton-primary
  color: white
  border: none
  padding: 10px 20px
  font-size: 16px
  cursor: pointer
  transition: background-color 0.3s ease-in-out
  &:hover 
    background-color: color.adjust(variables.$bouton-primary, $lightness: -10%)
  


// BG Section
.bg-sous-navbar 
  background-color: variables.$secondary-color
  color: white
  padding: 50px 0
  text-align: center
  h1 
    font-size: 2rem
  
  p 
    font-size: 1.2rem
  


// Main Image
.main-image 
  width: 100%
  height: 20rem
  object-fit: cover
  margin: 0


// FAQ Section
.section-title 
  text-align: center
  color: variables.$primary-color
  margin-bottom: 1rem


.section.bg-light 
  background-color: variables.$accent-color
  color: variables.$text-primary


// Accordion Styles
.accordion-button 
  background-color: variables.$primary-color
  color: white
  border: none
  padding: 0.5rem 1rem
  font-size: 1.2rem
  margin: 0
  &:hover 
    background-color: color.adjust(variables.$primary-color, $lightness: -10%)
  
  &:focus 
    box-shadow: none
  


.accordion-body 
  background-color: color.adjust(variables.$primary-color, $lightness: 40%)
  color: variables.$text-secondary
  padding: 0
  font-size: 1rem


// Footer Section
.footer 
  background: variables.$primary-color
  color: white
  padding: 2rem 0
  text-align: center


// Drag Container (3D effect)
#drag-container 
  width: 800px
  height: 400px
  position: relative
  transform-style: preserve-3d
  transform: rotateX(-10deg)
  transition: transform 0.5s
  margin: 0 auto
  cursor: grab
  &:active 
    cursor: grabbing
  

  #spin-container 
    position: absolute
    width: 100%
    height: 100%
    transform-style: preserve-3d
    transition: transform 5s
    background-color: #000
    img 
      position: absolute
      top: 50%
      left: 50%
      width: 300px
      height: 300px
      object-fit: contain
      border-radius: 10px
      transform-origin: 50% -400px
      transition: transform 1s ease-in-out
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)
    
  

  #ground 
    position: absolute
    width: 100%
    height: 100%
    top: 50%
    left: 50%
    background: radial-gradient(circle, #444, transparent)
    transform: translate(-50%, -50%) rotateX(90deg)
  

  &:hover #spin-container 
    animation: spin 20s infinite linear
  

  @keyframes spin 
    from 
      transform: rotateY(0deg)
    
    to 
      transform: rotateY(360deg)
    
  

// Presentation Section
.presentation-section
  background: variables.$text-primary
  padding: 80px 0

.presentation-container
  display: flex
  flex-wrap: wrap
  width: 70%
  margin: 0 auto
  position: relative  // Assurez-vous que le conteneur vidéo soit dans un stacking context
  z-index: 1  // Gardez un z-index inférieur à celui de la navbar
  .video-wrapper
    flex: 1
    position: relative
    overflow: hidden
    z-index: 1  // Gardez un z-index inférieur
    video
      width: 100%
      height: 100%
      object-fit: cover

  .sound-toggle
    position: absolute
    top: 15px
    right: 15px
    background: rgba(255, 255, 255, 0.3)
    color: black
    border: none
    width: 50px
    height: 50px
    border-radius: 50%
    cursor: pointer
    z-index: 10  // Assurez-vous que le bouton son soit bien au-dessus de la vidéo
    display: flex
    align-items: center
    justify-content: center
    font-size: 24px
    transition: background 0.3s ease
    &:hover
      background: rgba(255, 255, 255, 0.5)

@media (max-width: 768px)
  .presentation-container
    flex-direction: column
    height: auto
    z-index: 1  // Pour être sûr que ce z-index est respecté en version mobile  


// Section Agenda
#agenda 
  padding: 40px 20px
  text-align: center
  .calendar 
    background-color: #f4f4f4
    padding: 20px
    margin: 20px 0
    border-radius: 8px
  
  .events-list ul 
    list-style-type: none
    padding: 0
    li 
      margin: 20px 0
      padding: 15px
      border: 1px solid #ccc
      border-radius: 5px
      background-color: #fff
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
      h3 
        margin: 0
        color: #333
        font-size: 20px
      
      p 
        color: #666
      
    
  


// Section About Us
#about-us 
  padding: 40px 20px
  text-align: center
  .team-grid 
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
    gap: 20px
    .team-member 
      text-align: center
      img 
        width: 100%
        max-width: 150px
        border-radius: 50%
        margin-bottom: 10px
      
      h3 
        font-size: 18px
        color: #333
      
      p 
        color: #777
      
    
  

  .mission-vision 
    margin-top: 30px
    font-style: italic
    color: #555
  


// Section Video
#video 
  padding: 40px 20px
  text-align: center
  iframe 
    width: 100%
    height: 500px
    border: none
    border-radius: 8px
  

